:focus-visible {
	outline: 2px solid currentColor;
	outline-offset: 2px;
}

html {
	scrollbar-gutter: stable;
}

.wp-block-table {
	@apply -mx-4 lg:mx-0 lg:overflow-x-auto;
}

/* >= 1440 */
@media (min-width: 90em) {
	.wp-block-table {
		@apply -mx-20;
	}
}

table {
	@apply w-full table-auto;
}

@media (min-width: 64em) {
	.wp-block-table > table {
		width: calc(100% - 1px);
	}
}

th,
td {
	@apply px-3 py-2;
}

thead th,
tfoot th {
	@apply text-center align-bottom font-semibold;
}

tbody th,
tbody td {
	@apply border-tmtGray-300 border align-top dark:border-tmtGray-700;
}

tbody th {
	@apply text-left font-medium;
}

tbody tr:nth-of-type(odd) {
	@apply bg-white dark:bg-tmtGray-900;
}

td a {
	@apply text-tmtGray-900 dark:text-tmtGray-300 underline;
}

/* < 1024 */
@media (max-width: 63.9375em) {
	table {
		@apply overflow-hidden;
	}

	tbody tr {
		@apply border-tmtGray-300 block border-t py-2.5 last:border-b;
	}

	tbody th,
	tbody td {
		@apply flex border-0 py-0.5;
	}

	tbody td[data-th]::before {
		content: attr(data-th) ': ';
		@apply shrink-0 overflow-hidden text-ellipsis pr-2.5 font-semibold;
		width: min(38.2%, 10rem);
	}

	thead,
	tfoot,
	tbody td:empty {
		@apply hidden;
	}

	tbody th {
		@apply text-tmtGray-900 block font-semibold uppercase;
		letter-spacing: 0.125rem;
	}

	tbody th br {
		content: ' ';
	}

	tbody th br::after {
		content: ' ';
		display: inherit;
	}
}

.calendar-full-height {
	height: calc(100vh - 5rem);
	height: calc(100dvh - 5rem);
}

@media (min-width: 64em) {
	.calendar-full-height {
		height: calc(100vh - 7.5rem);
		height: calc(100dvh - 7.5rem);
	}
}

.wp-block-file a {
	@apply rounded border-b-4 border-blue-700 bg-blue-500 px-4 py-2 text-lg text-white hover:border-blue-500 hover:bg-blue-400 lg:text-xl;
}

#content > p:not(:empty) {
	@apply mb-6;
}

/* Dark Mode < 1024 */
@media (prefers-color-scheme: dark) and (max-width: 63.9375em) {
	tbody tr {
		@apply border-tmtGray-700;
	}

	tbody td[data-th]::before {
		@apply font-normal;
	}

	tbody th {
		@apply text-tmtGray-300 font-medium;
	}
}
