---
import Nav from '../components/Nav.astro'
import { siteName } from '../lib/api.js'
import '../styles/global.css'
export interface Props {
	slug: string;
	title?: string;
}

const { slug, title } = Astro.props as Props
---

<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex, nofollow">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title ? `${title} - ${siteName}` : siteName}</title>
</head>

<body class="bg-gray-100 dark:bg-[#0f0f17]">
	<nav class="fixed top-0 z-10 w-full bg-white shadow dark:bg-gray-900">
		<Nav slug={slug} />
	</nav>

	<main class="container mx-auto w-full max-w-7xl pt-20">
		<slot />
	</main>
</body>
</html>

<style>
@media (prefers-color-scheme: dark) {
	.shadow {
		/* = `shadow-md` */
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4), 0 2px 4px -1px rgba(0, 0, 0, 0.46);
	}
}
</style>